<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875491048022-6ot3v54u6vjt77dftu7185vi8upjjud6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875491048022-6ot3v54u6vjt77dftu7185vi8upjjud6</string>
	<key>API_KEY</key>
	<string>AIzaSyBYKLy22lMW4HqVjnymCFPSZcOxPxfC-8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>875491048022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.signals.SAI-Secure</string>
	<key>PROJECT_ID</key>
	<string>sai-signals-d0906</string>
	<key>STORAGE_BUCKET</key>
	<string>sai-signals-d0906.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875491048022:ios:98e059bc9f0c8c1f9699f7</string>
</dict>
</plist>